<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h4>İsimler</h4>
      <div class="list-group" *ngFor="let user of userList">
        <a class="list-group-item" (click)="selectChat(user.email)">
          <img src="{{user.userImage}}" alt="{{user.username}}" class="img-circle" style="width: 30px; height: 30px;">
          {{user.username}}
        </a>
       
        <!-- Diğer kullanıcılar için aynı şekilde devam edebilirsiniz -->
      </div>
    </div>
    <div class="col-md-8">
      <h4>Mesajlaşma</h4>
      <div class="panel panel-default">
        <div class="panel-body">
          <ul class="chat">
            <li class="left clearfix" *ngFor="let msg of messages">
              <span class="chat-img pull-left">
                <img style="width: 30px; height: 30px;" src="{{selecteduser.userImage}}" alt="User 1" class="img-circle">
              </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <strong *ngIf="selecteduser.email != curruser" class="primary-font">{{selecteduser.username}}</strong>
                  <strong *ngIf="selecteduser.email == curruser" class="primary-font">Ben</strong>
                </div>
                <p>
                  {{msg.message}}
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="panel-footer">
          <div class="input-group">
            <input id="btn-input" type="text" class="form-control input-sm" [(ngModel)]="message" placeholder="Mesajınızı yazın...">
            <span class="input-group-btn">
              <button class="btn btn-primary btn-sm" id="btn-chat" (click)="sendMessage()">Gönder</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
