<div [innerHTML]="savedProfile"></div>


<button (click)="edit()">Edit</button>

<div *ngIf="editButton" class="row justify-content-center" style="margin-top:50px;margin-bottom:50px">
  <div class="col-12 col-md-10 col-lg-10">
    <ckeditor [editor]="Editor" [(ngModel)]="editorData" [ngStyle]="{ 'height.px': '800' }" data="<p>Profil sayfanızı düzenleyin. Burası öğrencilerinizin göreceği alandır</p>"></ckeditor>

  </div>
  <button class="btn btn-success" (click)="saveProfile()">Kaydet</button>
</div>

