
<div class="wrapper d-flex align-items-stretch">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Bootstrap Sidebar</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Dummy Heading</p>
      <li class="active">
        <a href="#homeSubmenu" (click)="toggleSubMenu($event)" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Home 1</a>
          </li>
          <li>
            <a href="#">Home 2</a>
          </li>
          <li>
            <a href="#">Home 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
      </li>
      <li>
        <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content" class="p-4">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card mb-4">
            <a href="detay_sayfasi.html">
              <div class="card-img-top" style="background-image: url('../../../assets/images/ppback.png'); height: 200px; background-size: cover;"></div>
              <div class="card-body text-center">
                <div class="profile-pic-top">
                  <img src="../../../assets/images/pp.jpg" alt="Profile Picture" class="rounded-circle profilePhoto" style="width: 100px; height: 100px;">
                </div>
                <br />
                <div class="card-text mt-3">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4">
            <div class="card-img-top" style="background-image: url('../../../assets/images/ppback.png'); height: 200px; background-size: cover;"></div>
            <div class="card-body text-center">
              <div class="profile-pic-top">
                <img src="../../../assets/images/pp.jpg" alt="Profile Picture" class="rounded-circle profilePhoto" style="width: 100px; height: 100px;">
              </div>
              <br />
              <div class="card-text mt-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4">
            <div class="card-img-top" style="background-image: url('../../../assets/images/ppback.png'); height: 200px; background-size: cover;"></div>
            <div class="card-body text-center">
              <div class="profile-pic-top">
                <img src="../../../assets/images/pp.jpg" alt="Profile Picture" class="rounded-circle profilePhoto" style="width: 100px; height: 100px;">
              </div>
              <br />
              <div class="card-text mt-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4">
            <div class="card-img-top" style="background-image: url('../../../assets/images/ppback.png'); height: 200px; background-size: cover;"></div>
            <div class="card-body text-center">
              <div class="profile-pic-top">
                <img src="../../../assets/images/pp.jpg" alt="Profile Picture" class="rounded-circle profilePhoto" style="width: 100px; height: 100px;">
              </div>
              <br />
              <div class="card-text mt-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="card mb-4">
            <div class="card-img-top" style="background-image: url('../../../assets/images/ppback.png'); height: 200px; background-size: cover;"></div>
            <div class="card-body text-center">
              <div class="profile-pic-top">
                <img src="../../../assets/images/pp.jpg" alt="Profile Picture" class="rounded-circle profilePhoto" style="width: 100px; height: 100px;">
              </div>
              <br />
              <div class="card-text mt-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

