/*body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.card {
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #333;
}

.form-control {
  border-radius: 8px;
}

.btn-primary {
  border-radius: 8px;
}

.mt-3 {
  font-size: 14px;
}








*/
