<div class="row col-12 sticky-top">
  <div class="col-md-1"></div>
  <div class="col-md-2 text-md-left text-center">
    <img src="#" alt="LOGO" style="float:left"/>
  </div>
  <div class="col-md-7"></div>
  <div class="col-md-1 text-md-right text-center">
    <div class="row">
      <div class="col-12" style="display:flex; justify-content: space-between">
        <a [routerLink]="['/login']" routerLinkActive="active">Giriş Yap</a>
        <a [routerLink]="['/register']" routerLinkActive="active">Kayıt Ol</a>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
